@color-primary-dark: hsl(158, 36%, 37%);
@color-primary: hsl(30, 38%, 92%);
@color-neutral-dark: hsl(212, 21%, 14%);
@color-neutral: hsl(228, 12%, 48%);
@color-neutral-light: hsl(0, 0%, 100%);
@min576: ~"(min-width: 576px)";
@font-size-base: 14px;
@space: 32px;
@gap: 20px;
@border-radius: 10px;

.font-fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    font-variation-settings:
      "SOFT" 50,
      "WONK" 0;
}

.font-montserrat-500 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-montserrat-700 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: @color-primary;
    
    main {
        min-height: 100vh;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product__ {
        &card {
            width: 343px;
            background-color: @color-neutral-light;
            border-radius: @border-radius;
            display: grid;
            grid-template-columns: 1fr;

            @media @min576 {
                width: 600px;
                grid-template-columns: 1fr 1fr;
            }
        }

        &image-container, &image {
            border-radius: @border-radius;

            @media @min576 {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }

        }

        &image-container {

        }

        &image {
            max-width: 100%;
        }

        &details {
            padding: @space;
        }

        &header {

            &-category {
                .font-montserrat-500();
                font-size: 12px;
                line-height: 140%;
                color: @color-neutral;
                text-transform: uppercase;
                letter-spacing: 4.8px;
                margin-bottom: @gap;
            }

            &-title {
                .font-fraunces();
                font-size: 32px;
                margin-bottom: @gap;
            }
        }

        &description {
            .font-montserrat-500();
            color: @color-neutral;
            font-size: 14px;
            line-height: 160%;
        }
    }
}


